$red: #c60c30;
$blue: #00338d;
$white: #fff;

body {
  background-color: $blue;
  color: black;
  padding: 0;
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

@keyframes crashLeft {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateY(0);
    transform: translateX(50px);
  }
}
@keyframes crashRight {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-50px);
  }
}

#container {
  background-color: $red;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  > header {
    text-align: center;
    height: 120px;
    img {
      width: 100px;
      height: 100px;
      &#bills-img {
        z-index: 2;
        position: absolute;
        animation: crashLeft 2s infinite cubic-bezier(0, -0.55, 0.27, 1.55);
      }
      &:nth-child(2) {
        border: 5px solid gold;
      }
      &#jets-img {
        z-index: 1;
        position: absolute;
        animation: crashRight 4s infinite;
      }
    }
  }
}

#content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  border: 1px solid $blue;
  background-color: $white;
  border-radius: 10px;
  height: 100vh;
}

.section {
  min-width: 50%;
  padding: 10px;
}

#calendar {
  display: flex;
  flex-wrap: wrap;
  .day {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    min-height: 100px;
    min-height: 100px;

    header {
      background-color: $red;
      color: $white;
      text-align: center;
    }
  }
}
