$red: #c60c30;
$blue: #00338d;
$white: #fff;
$gold: #ffb612;
$gray: #ccc;
$black: #000;

@keyframes crashLeft {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateY(0);
    transform: translateX(50px);
  }
}
@keyframes crashRight {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes scrollHorizontally {
  0% {
    transform: translate(100px, 0px);
  }
  25% {
    transform: translate(-350px, 10px);
  }
  75% {
    transform: translate(300px, 20px);
  }
  100% {
    transform: translate(100px, 5px);
  }
}

body {
  background-color: $blue;
  color: $black;
  padding: 0;
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

#container {
  background-color: $red;
  border-radius: 10px;
  margin: auto;
  padding: 6px;
  > header {
    text-align: center;
    height: 100px;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    h1 > div {
      border: 3px solid $gold;
      border-radius: 20px;
      height: 90px;
      .helmet {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 20px;
        &#bills-img {
          z-index: 2;
          left: 45%;
          animation: crashLeft 2s infinite cubic-bezier(0, -0.55, 0.27, 1.55);
        }
        &#jets-img {
          z-index: 1;
          left: 55%;
          animation: crashRight 5s infinite cubic-bezier(0, -0.55, 0.27, 1.55);
        }
      }
      #fire {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        position: absolute;
        top: -160px;
        left: -10px;
        img {
          z-index: 3;
        }
      }
      #title {
        color: $white;
        font-style: italic;
        animation: scrollHorizontally 10s infinite;
        z-index: 4;
        font-size: 2rem;
        font-family: courier;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }
  }
}

#content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  border: 1px solid $blue;
  background-color: $white;
  border-radius: 10px;
}

.section {
  min-width: 50%;
  padding: 10px;
}

#calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  .day {
    padding: 4px;
    border: 1px solid $black;
    width: 100px;
    height: 100px;
    min-height: 100px;
    min-height: 100px;

    &.past {
      background-color: $gray;
      header {
        background-color: $gray;
      }
    }
    &.today {
      background-color: $gold;
    }
    &.future {
      background-color: $white;
    }

    header {
      background-color: $red;
      color: $white;
      text-align: center;
    }
  }
}
